<!--The content below is only a placeholder and can be replaced.-->
  <div class="wrapper">
    <div class="contaier">
      <app-navbar class="bckColorWhit txtColor"></app-navbar>

      <div class="row">
        <div [ngClass]="{'col-md-4 rightMenuShow': !isRightMenuShow(), 'rightMenuHide': isRightMenuShow() }">
          <app-menu></app-menu>
        </div>
 
        <div [ngClass]="{'col-md-8': !isRightMenuShow(), 'col-md-12': isRightMenuShow()}">
          <router-outlet></router-outlet>
        </div>

      </div>

    </div>
    <div class="push"></div>
  </div>
  <footer class="footer bckColor txtColor border" style="text-align:center">
    <div>@2018 Copy right</div>
  </footer>
