<!--The content below is only a placeholder and can be replaced.-->
  <div class="wrapper">
    <div class="contaier">
      <app-navbar class="bckColorWhit txtColor"></app-navbar>

      <div class="row">
        <div class="col-md-4">
          <app-menu></app-menu>
        </div>

        <div class="col-md-8">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
    <div class="push"></div>
  </div>
  <footer class="footer bckColor txtColor border" style="text-align:center">
    <div>@2018 Copy right</div>
  </footer>
