
.wrapper {
  margin-top: 61px;
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
  width: 100%;
}

.border {
    border-top: 1px solid #008CBA;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.rightMenuHide {
  display: none;
}

.rightMenuShow {
  display: block;
}