.login {
    width: 40%;
}

.jumbotron {
    background-color: white;
}

.login-form {
    margin-bottom: 10%;
}

@media only screen and (max-width: 600px) {
    .login {
        margin-top: 10%;
        width: 90%;
    }
}